github "apple/swift-protobuf" "0.9.901"
github "grpc/grpc-swift" "master"
github "audiokit/AudioKit"
github "Alamofire/Alamofire" ~> 4.4
github "SwiftyJSON/SwiftyJSON"
github "Clipy/Magnet"
github "Clipy/KeyHolder"

